<!-- Lista Personas -->
<table border="1">
  <caption>Tabla Personas</caption>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellido</th>
  </tr>
  <tr *ngFor="let persona of personas">
    <td>{{persona.id}}</td>
    <td>{{persona.nombre}}</td>
    <td>{{persona.apellido}}</td>
  </tr>
</table>


<!-- Lista Personas con CSS de Heroes -->
<h2>Listado de Personas</h2>
<ul class="heroes">
  <li *ngFor="let persona of personas">
    <span class="badge">{{persona.id}}</span>
    {{ persona.nombre }} {{ persona.apellido }}
  </li>
</ul>

<!-- Botón para abrir formulario -->
<div style="margin-top:16px; display:flex; gap:8px;">
  <button [routerLink]="['/formulario']" style="padding:8px 12px; cursor:pointer;">Abrir Formulario</button>
  <button [routerLink]="['/formulario-reactivo']" style="padding:8px 12px; cursor:pointer;">Abrir Formulario Reactivo</button>
</div>
